# ___ Miscellaneous ___
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/

# Plugins locales (si acaso) y migración
plugins/
/plugins/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VSCode (normalmente lo mantienes, así que lo dejamos comentado)
#.vscode/

# ___ Flutter/Dart/Pub related ___
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Símbolos y mapas de ofuscación
app.*.symbols
app.*.map.json

# Android Studio: artefactos de build adicionales
/android/app/debug
/android/app/profile
/android/app/release

# ___ Archivos generados de plugins por plataforma ___
**/linux/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugins.cmake
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.cmake
**/macos/Flutter/GeneratedPluginRegistrant.swift

# ___ Ignorar carpeta .cxx de compilación NDK ___
android/app/.cxx/